:root {
  --primary-color: #26495c;
  --secondary-color: #c4a35a;
  --tertiary-color: #e5e5dc;
  --tertiary-color2: #c66b3d;
}

header {
  padding: 1.5vw 3vh;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 3.6em;
  color: var(--primary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.4em;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* Subtitle Style */
.flare {
  background-image: linear-gradient(to right, #c66b3d, #e5e5dc);
  color: var(--primary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.flare p {
  font-size: 1.8em;
  font-weight: bold;
  padding-right: 8vw;
}

/* Content Style */
.parentBox {
  width: auto;
  margin: 15px;
  display: flex;
}

.title {
  width: auto;
  margin: 1%;
  color: var(--primary-color);
  text-align: center;
  width: 20%;
  height: 75%;
  float: left;
}

.content {
  width: auto;
  padding: 10px;
  margin: auto;
  justify-content: right;
  width: 50%;
  height: 75%;
  display: inline;
  flex-wrap: wrap;
  justify-content: space-around;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: var(--tertiary-color2);
  float: right;
}

.title h2 {
  font-size: 2.4em;
}

p {
  font-size: 1.8em;
  color: var(--primary-color);
  margin: 5px;
}

.aboutme {
  height: 150px;
  width: 200px;
  object-fit: contain;
}

/* Projects Style */
#projects .content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: absolute;
}

#projects .content a {
  display: flex;
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid var(--tertiary-color);
  margin: 10px;
}

.row {
  margin-bottom: 15px;
}

.row image {
  width: 50%;
  height: 50%;
}

.container {
  position: relative;
  font-family: Arial;
}

.text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

h4 {
  font-size: 10px;
  text-align: center;
  font-weight: lighter;
}

/* Contact Me Stlyes */
.content ul {
  padding: 10px;
  margin: auto;
}

.content li {
  color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.content a {
  text-decoration: none;
  color: var(--primary-color);
}

.content li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 24px;
}

.content li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
/* Resume Stlyes */

.resume {
  display: flex;
  margin: auto;
  color: var(--primary-color);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 24px;
}

.resume:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .aboutme {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 2em;
    text-align: justify;
    margin: 2px;
  }

  .content {
    margin: 10px;
  }

  .title h2 {
    font-size: 2em;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .title h2 {
    font-size: 1.5em;
  }

  .content {
    padding: 5px;
  }

  p {
    font-size: 1.8em;
    text-align: justify;
    margin: 2px;
  }

  .aboutme {
    display: none;
  }
}

/* MEDIA QUERY FOR SMALL MOBILE*/
@media screen and (max-width: 400px) {
  .title h2 {
    font-size: 1.2em;
  }

  .content {
    padding: 5px;
  }

  p {
    font-size: 1.5em;
    text-align: left;
    margin: 2px;
  }

  .aboutme {
    display: none;
  }
}
